body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:582px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u1096 {
  position:absolute;
  left:313px;
  top:190px;
  width:219px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1098 {
  position:absolute;
  left:312px;
  top:10px;
  width:270px;
  height:170px;
  font-size:16px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u1100 {
  position:absolute;
  left:312px;
  top:137px;
  width:269px;
  height:1px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u1102 {
  position:absolute;
  left:448px;
  top:138px;
  width:1px;
  height:40px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1104 {
  position:absolute;
  left:367px;
  top:146px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1106 {
  position:absolute;
  left:490px;
  top:146px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u1108 {
  position:absolute;
  left:11px;
  top:190px;
  width:137px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1110 {
  position:absolute;
  left:10px;
  top:10px;
  width:270px;
  height:170px;
  font-size:16px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u1112 {
  position:absolute;
  left:10px;
  top:137px;
  width:269px;
  height:1px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u1114 {
  position:absolute;
  left:146px;
  top:138px;
  width:1px;
  height:40px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1116 {
  position:absolute;
  left:65px;
  top:146px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1118 {
  position:absolute;
  left:188px;
  top:146px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
  line-height:28px;
}
#u1120 {
  position:absolute;
  left:29px;
  top:51px;
  width:240px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
  line-height:28px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u1122 {
  position:absolute;
  left:329px;
  top:40px;
  width:239px;
  height:63px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
