body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7920 {
  position:absolute;
  left:20px;
  top:30px;
  width:375px;
  height:647px;
}
#u7921 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7922 {
  position:absolute;
  left:20px;
  top:10px;
  width:375px;
  height:64px;
}
#u7923 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u7924 {
  position:absolute;
  left:169px;
  top:41px;
  width:69px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u7925 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7926 {
  position:absolute;
  left:21px;
  top:74px;
  width:373px;
  height:410px;
}
#u7927 {
  position:absolute;
  left:2px;
  top:197px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7928 {
  position:absolute;
  left:29px;
  top:41px;
  width:22px;
  height:22px;
}
#u7929 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7930 {
  position:absolute;
  left:34px;
  top:433px;
  width:53px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7931 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u7932 {
  position:absolute;
  left:169px;
  top:96px;
  width:93px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u7933 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u7934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7934 {
  position:absolute;
  left:209px;
  top:192px;
  width:163px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7935 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u7936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u7936 {
  position:absolute;
  left:172px;
  top:430px;
  width:197px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u7937 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u7938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7938 {
  position:absolute;
  left:34px;
  top:192px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7939 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7940 {
  position:absolute;
  left:177px;
  top:141px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7941 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7942 {
  position:absolute;
  left:34px;
  top:230px;
  width:53px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7943 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7944 {
  position:absolute;
  left:331px;
  top:230px;
  width:37px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7945 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7946 {
  position:absolute;
  left:109px;
  top:266px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7947 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u7948_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:43px;
}
#u7948 {
  position:absolute;
  left:120px;
  top:358px;
  width:2px;
  height:40px;
}
#u7949 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u7950 {
  position:absolute;
  left:149px;
  top:269px;
  width:90px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u7951 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u7952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u7952 {
  position:absolute;
  left:298px;
  top:270px;
  width:69px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u7953 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7954 {
  position:absolute;
  left:143px;
  top:399px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7955 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u7956 {
  position:absolute;
  left:146px;
  top:338px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u7957 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u7958 {
  position:absolute;
  left:298px;
  top:333px;
  width:69px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u7959 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7960 {
  position:absolute;
  left:109px;
  top:398px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7961 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7962 {
  position:absolute;
  left:34px;
  top:264px;
  width:53px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7963 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7964 {
  position:absolute;
  left:109px;
  top:333px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7965 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u7966_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:43px;
}
#u7966 {
  position:absolute;
  left:120px;
  top:293px;
  width:2px;
  height:40px;
}
#u7967 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7968_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:11px;
}
#u7968 {
  position:absolute;
  left:120px;
  top:293px;
  width:2px;
  height:8px;
}
#u7969 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7970 {
  position:absolute;
  left:462px;
  top:30px;
  width:375px;
  height:647px;
}
#u7971 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7972 {
  position:absolute;
  left:462px;
  top:10px;
  width:375px;
  height:64px;
}
#u7973 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u7974 {
  position:absolute;
  left:611px;
  top:41px;
  width:69px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u7975 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7976 {
  position:absolute;
  left:463px;
  top:74px;
  width:373px;
  height:410px;
}
#u7977 {
  position:absolute;
  left:2px;
  top:197px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7978 {
  position:absolute;
  left:471px;
  top:41px;
  width:22px;
  height:22px;
}
#u7979 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7980 {
  position:absolute;
  left:476px;
  top:433px;
  width:53px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7981 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u7982 {
  position:absolute;
  left:611px;
  top:96px;
  width:93px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u7983 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7984 {
  position:absolute;
  left:647px;
  top:192px;
  width:163px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7985 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u7986 {
  position:absolute;
  left:613px;
  top:430px;
  width:197px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7988 {
  position:absolute;
  left:476px;
  top:192px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7989 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7990 {
  position:absolute;
  left:619px;
  top:141px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7991 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7992 {
  position:absolute;
  left:786px;
  top:230px;
  width:23px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u7993 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7994 {
  position:absolute;
  left:476px;
  top:230px;
  width:53px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7996 {
  position:absolute;
  left:551px;
  top:266px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7997 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u7998_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:43px;
}
#u7998 {
  position:absolute;
  left:562px;
  top:358px;
  width:2px;
  height:40px;
}
#u7999 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u8000 {
  position:absolute;
  left:591px;
  top:269px;
  width:98px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u8001 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u8002 {
  position:absolute;
  left:740px;
  top:270px;
  width:69px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u8003 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u8004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u8004 {
  position:absolute;
  left:585px;
  top:399px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u8005 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u8006 {
  position:absolute;
  left:588px;
  top:338px;
  width:40px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u8007 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u8008 {
  position:absolute;
  left:740px;
  top:333px;
  width:69px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u8009 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u8010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8010 {
  position:absolute;
  left:551px;
  top:398px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8011 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u8012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u8012 {
  position:absolute;
  left:476px;
  top:264px;
  width:53px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u8013 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8014 {
  position:absolute;
  left:551px;
  top:333px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8015 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u8016_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:43px;
}
#u8016 {
  position:absolute;
  left:562px;
  top:293px;
  width:2px;
  height:40px;
}
#u8017 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:11px;
}
#u8018 {
  position:absolute;
  left:562px;
  top:293px;
  width:2px;
  height:8px;
}
#u8019 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8020 {
  position:absolute;
  left:461px;
  top:687px;
  width:375px;
  height:35px;
  color:#FFFFFF;
}
#u8021 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8022 {
  position:absolute;
  left:20px;
  top:687px;
  width:375px;
  height:69px;
  color:#FFFFFF;
}
#u8023 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8024 {
  position:absolute;
  left:32px;
  top:705px;
  width:165px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8025 {
  position:absolute;
  left:0px;
  top:-10px;
  width:165px;
  word-wrap:break-word;
}
#u8026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u8026 {
  position:absolute;
  left:467px;
  top:694px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u8027 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u8028 {
  position:absolute;
  left:471px;
  top:15px;
  width:363px;
  height:13px;
}
#u8029 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u8030 {
  position:absolute;
  left:26px;
  top:15px;
  width:363px;
  height:13px;
}
#u8031 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8032_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u8032 {
  position:absolute;
  left:384px;
  top:423px;
  width:30px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:10px;
}
#u8033 {
  position:absolute;
  left:9px;
  top:12px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
